<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bootproject.sklweb.mapper.MyCustomerMapper" >
  
  	
  	
  	<select id="getUserListCount" resultType="integer">
  			SELECT COUNT(1) from `user`
  	</select>
  	
  	<select id="getUserList" resultType="com.bootproject.sklweb.entity.User">
  		SELECT
			`user`.userid ,
			`user`.type ,
			`user`.createtime ,
			`user`.state
		FROM
			`user`
  		<if test="query !=null ">
			limit #{query.pagestart} , #{query.pagesize}
		</if>
  	</select>
  	
  	
  	<select id="getLastSceneId" resultType="integer">
  			SELECT MAX(scene.id) + 1  from scene
  	</select>
  	
  	
   
  	
  		
  	<select id="getCategoryIdByFahter" resultType="integer">
  			SELECT MAX(id ) + 1    from category where fatherid =  #{fatherid}
  	</select>
  	
  	
  	<select id="suggeslistCount" resultType="integer">
  			SELECT COUNT(1) from sugges
  	</select>
  	
  	<select id="suggeslist" resultType="com.bootproject.sklweb.entity.Sugges">
  		SELECT  *  from sugges
			ORDER BY sugges.createtime desc 
  		<if test="query !=null ">
			limit #{query.pagestart} , #{query.pagesize}
		</if>
  	</select>
  	
  	
  	
  	<select id="getNextProductId" resultType="long">
  			SELECT  IFNULL( MAX(id) +  1 ,1000000) from product
  	</select>
  
</mapper>